<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
        <title>naCVigation</title>
        <style>
            body{
				background: rgb(98, 196, 235);
				color:white;
				padding: 30px;
				font-family: verdana;
			}
            table {
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid rgba(255, 255, 255, 0.411);
            }
            #destlang{
                font-size: 25px;
            }
            .container{
                text-align: center;
            }
            .btn{
                font-size: 50px;
                width: 100%;
                height: 25%;
                display:inline-block;
                padding:0.16em 0.6em;
                border:0.1em solid #36739c;
                margin:0 0.2em 0.2em 0;
                border-radius:0.5em;
                box-sizing: border-box;
                text-decoration:none;
                font-family:'Roboto',sans-serif;
                font-weight:300;
                color:#000000;
                text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
                background-color:#e9f0fa;
                text-align:center;
                transition: all 0.15s;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1>Upload image</h1>
            <h5><%= typeof msg != 'undefined' ? msg : '' %></h2>
            <div class="form-container">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <span>File</span>
                    <input id="upload" class="btn" name="img" type="file" accept="image/*">
                    <input id="destlang" class="btn" type="text", name="lang", value="<%= qs.lang %>" placeholder="(optional) destination language for translation, default: English">
                    <br>
                    <a id="click" onclick="performClick('upload');">open file dialog</a>
                    <br>
                    <button id="submit" class="btn" type="submit" value="submit">
                        Submit
                    </button>
	    		</form>
            </div>
            
            <br>
            <h2><%= typeof txt != 'undefined' ? txt : ''%></h2>
            <br>
			<audio src="<%= typeof audio_dir_and_name != 'undefined' ? audio_dir_and_name : ''%>" controls autoplay type="audio/mpeg"></audio>
            <br>
            <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">

            <video id="player" controls autoplay></video>
            <button id="capture">Capture</button>
            <canvas id="snapshot" width=320 height=240></canvas>

            <br>

            <table align="center">
                <tr>
                    <th>voice command word</th>
                    <th>action taken by the website</th>
                </tr>
                <tr>
                    <td>"upload"</td>
                    <td>open the file dialog (need to click the webpage first. Anywhere would be fine)</td>
                </tr>
                <tr>
                    <td>"go"</td>
                    <td>submit the image</td>
                </tr>
                <tr>
                    <td>"capture"</td>
                    <td>capture the image</td>
                </tr>
                <tr>
                    <td>"{name of the language}" e.g. "chinese"</td>
                    <td>fill the text input field with the name of the language      i.e. set the destination language of translation</td>
                </tr>
                <tr>
                    <td>"help"</td>
                    <td>paly the audio form of voice command instructions</td>
                </tr>
            </table>
            
            <br>

            <audio id="help" src="instructions.mp3" controls type="audio/mpeg"></audio>
            </audio>
            <section id="media"></section>
            <br>
			
        </div>
        
        <script src='voiceControl.js'></script>
        
        

        <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

        
    </body>
    
</html>